input[type="text"],
textarea,
select,
button {
  outline: none;
}
.btn2{  border-radius: 3.5px;
}
.btn,.btn2 {

  right: 0;
  background-color: white;
  border: 1px solid black;
  animation-name: black-to-white;
  
  animation-duration: 0.2s;
  height: 25px;
}
.link{color: #009ed2;
cursor: pointer;


}
.link:hover{

color: black;

}
.overlay {
background-color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.p-20{padding: 20px;}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #009ed2;
  border-right-color: transparent;
  transform-origin: center;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn{ 
  top: 1px;}


  .absolute{position: absolute}

.center {
  text-align: center;
}
.red{color: red}

.search {
  margin-top: 0.5px;
  border: 1px solid #b5b3b3;
  border-top: 2px solid #b5b3b3;
  height: 20px;

  width: -webkit-fill-available;
}

.btn2:hover,.btn:hover {
  background-color: black;
  animation-name: white-to-black;
  
  animation-duration: 0.2s;
  color: white;
}

.Relative {
  position: relative;
}

.CCImage {
  width: 23px;

  left: -30px;
  top: -1px;
}

#info {
  text-align: center;
}

@keyframes black-to-white {
  from {

    background-color: black;
    color: white;


  }

  to {
    background-color: white;
    color: black;
  }


}

@keyframes white-to-black {

  from {
    background-color: white;


  }

  to {
    background-color: black;

  }
}

/* .Recovered{color:limegreen}
.Deaths{color: red}
.Confirmed{color:orange}
.Latitude{color:dodgerblue}
.Longitude{color:deepskyblue}
.Active{color:#8400ff} */
body {
  padding: 0;
  margin: 0;
  font-family: verdana;
}