input[type="text"],
textarea,
select {
  outline: none;
}
.btn {
  position: absolute;
  top: 1px;
  right: 0;
  height: 25px;
}
.center {
  text-align: center;
}

.search {
  margin-top: 0.5px;
  border: 1px solid #b5b3b3;
  border-top: 2px solid #b5b3b3;
  height: 20px;
  width: -webkit-fill-available;
}
.Relative {
  position: relative;
}
.CCImage {
  width: 23px;
  position: absolute;
  left: -30px;
  top: -1px;
}
#info {
  text-align: center;
}
/* .Recovered{color:limegreen}
.Deaths{color: red}
.Confirmed{color:orange}
.Latitude{color:dodgerblue}
.Longitude{color:deepskyblue}
.Active{color:#8400ff} */
body {
  padding: 0;
  margin: 0;
  font-family: verdana;
}
